body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  padding: 20px;
  margin: 0;
}

h1 {
  text-align: center;
}

#ordenar-por {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

#ordenar-por img {
  width: 100px;
  height: auto;
  margin-right: 20px;
  margin-top: 30px;
}

#ordenar-por .stack {
  position: relative;
  width: 100px;
  height: 150px;
}

#ordenar-por .card.extraida {
  position: absolute;
  width: 100px;
  height: 150px;
  background-size: cover;
  background-position: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  top: 0;
  left: 0;
}

#ordenar-por h2 {
  margin: 0 0 10px 0;
}

#ordenar-por form {
  display: flex;
}

#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 1px solid red;
  width: 80vw;
  margin: auto;
}

.card {
  width: 70px;
  height: 100px;
  margin: 15px;
  background-size: cover;
  background-position: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

form {
  display: inline-block;
  margin: 0 5px;
  padding-left: 150px;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.ordenar {
  margin-top: 50px;
}

input[type="radio"] {
  margin-right: 5px;
}